body{
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/* formulaire */
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

.alert-danger{
	background-color: #FDD;
	color: #ffffff;
	padding: 10px;
	border-radius: 15px;
}

.form-input{
	position: relative;
	width: 100%;
	margin: 2px;
}

.inline{
	margin-left: 3px;
	display: inline;
}

.text-red{
	color: #cd5c5c;
}

.text-blue{
	color: #008CBA;
}

.btn {
  background-color: #008CBA; /* Bleu */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn {
  transition-duration: 0.4s;
}

.btn:hover{
  text-decoration: none;
  opacity: 0.5;
}

.btn-sup{
	background-color: #cd5c5c;
	padding: 10px;
}
.btn-faire{
	background-color: #4169e1;
	padding: 10px;
}

.cadre{
	margin-top: 30px;
	border: 2px solid #008CBA;
	border-radius: 15px;
	padding: 20px;
}

.badge{
	padding: 2px;
	color: #ffffff;
}
.head{
	text-align: center;
} 

/* tableau */
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

#taches-autres{
	border: 1px solid black;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	color: #ffffff;
}
.ot1 {
    display: inline-block;
    border: 2px solid #08a800;
    width: 45%;
    padding: 2px;
    background-color: #4CAF50;
}
.ot2 {
    display: inline-block;
    border: 2px solid #cd5c5c;
    width: 45%;
    float: right;
    padding: 2px;	
    background-color: #ffe4e1;
}

th, td {
	text-align: left;
	padding: 5px;
	border-top: 1px solid #e6e6fa;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #e6e6fa;
}